/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-mar-13, 10:31:04
    Author     : linneabark
*/

body {font-family: Arial, Helvetica, sans-serif;}

/* Bordered form */
.formis {
  border: 3px solid #f1f1f1;
  padding: 8px 8px 8px 8px; 
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form{
    padding-left: 10px;
    padding-right: 10px;
}

label{
    padding-left: 10px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  font-weight: bold
}

/* Extra style for the add button (green) */
.addbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #228B22;
  font-weight: bold
}