/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-feb-25, 13:43:45
    Author     : linneabark
*/
* {
  box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

/* Float two columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 50px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  line-height: 350%;
  font-size: 250%;
  background-color: #f2f2f2;
  height: 200px;
}

.listlink{
    text-decoration: inherit;
    color: black;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.header {
  padding: 16px;
  text-align: center;
  background: black;
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}

.logoutButton{
   position:fixed;
   right:10px;
   top:30px;
}

